extends layout

block content
  .a-propos-de-lui-container 
    br
    br
    #a-propos-de-lui-conteneur.d-flex.h-100.p-3.mx-auto.flex-column
      main.inner.a-propos-de-lui(role='main')
        p.lead
          div TODO 
          div Une page de présentation de Guillaume
          img(src='/img/a_propos_de_lui.jpg')
