extends layout

block content
  .cover-container 
    br
    br
    #cover-conteneur.cover-container.d-flex.h-100.p-3.mx-auto.flex-column
      main.inner.cover(role='main')
        br
        p.lead
          div Rejoignez la communauté
          div des dgidgi.taliseurs
          br
          div Ecrivez et postez 
          div sur 
            a.en-jaune(href='/a_propos_de_lui') Guillaume Prêcheur  
          br
          div Découvrez ce que les autres ont dgidgi.talisé
          br
        p.lead
          a.btn.btn-lg.btn-secondary(href='/register') Nous rejoindre
