extends layout

block title
  title ##{hashtag} - Dgidgi.tal
    
block content
  #login-debut-content 
    h1 ##{hashtag}
    .container
      .row
        .col-8.dgidgitalisation-liste
          if posts
            for  post, i in posts
              include dgidgitalisation.pug
