extends layout

block title
  title ##{hashtag} - Dgidgi.tal
    
block content
  #login-debut-content 
    .container-fluid
      .row
        .col-2
          div
        .col-8.dgidgitalisation-liste
          h1 ##{hashtag}
          if posts
            for  post, i in posts
              include dgidgitalisation.pug
