extends layout

block title
  title Identifiez-vous - Dgidgi.tal

block content
  #login-debut-content 
    h1 Identifiez-vous
    form(method='POST', action='/login' id='LoginForm')
      #form-group
        label Identifiant:
        input.form-control(name='userId', type='text' id="LoginForm_userId")
      #form-group
        label Mot de passe:
        input.form-control(name='password', type='password' id="LoginForm_password")
      input.form-control(name='encPassword', type='hidden' value='' id="LoginForm_encPassword")
      br
      input.btn.btn-primary(type='submit', value='S\'identifier')

block specific_script
  script.
    $(document).ready(function(){
      if($('#LoginForm').length == 1) {
        $('#LoginForm').submit(function(eventObj) {
          var userId = $('#LoginForm_userId').val();
          var password = $('#LoginForm_password').val();
    
          $('#LoginForm_encPassword').val(CryptoJS.AES.encrypt(password, userId).toString());
    
          $('#LoginForm_password').prop('disabled', true);
          return true;
        });
      }
    });
