extends layout


block title
  title  Dernières nouvelles du front - Dgidgi.tal

block content
  #login-debut-content 
    h1 Dernières nouvelles du front
    if lastPosts
      .col-8.dgidgitalisation-liste
        for  post, i in lastPosts
          include dgidgitalisation.pug
            
