extends layout

block title
  title Dgidgitalisez ! - Dgidgi.tal

block content
  #login-debut-content 
    h1 Dgidgitalisez !
    form(method='POST', action='/posts/add' id='PostForm')
      #form-group
        label Votre texte:
        textarea.form-control(name='content')
      br
      input.btn.btn-primary(type='submit', value='Envoyer')
