extends layout


block title
  title  Les dernières dgidgi.talisations - Dgidgi.tal

block content
  #login-debut-content 
    .container-fluid
      .row
        .col-2
          div 
        .col-8.dgidgitalisation-liste
          h1 Les dernières dgidgi.talisations
          if lastPosts
            for  post, i in lastPosts
              include dgidgitalisation.pug
              
