extends layout


block title
  title  Les dernières dgidgi.talisations - Dgidgi.tal

block content
  #login-debut-content 
    .container-fluid
      .row
        .col-2
          div 
        .col-8.dgidgitalisation-liste
          h1 #{title}
          if posts
            for  post, i in posts
              include dgidgitalisation.pug
          if nextPost
            br
            a.btn.btn-primary(href='/posts/' + page + '/' + nextPost._id, role='button') Continuer la lecture
              
