.in-black {
  color:#000;
}
.form-comment {
  margin-left:15px;
  font-style: italic;
  color:#FFFF00;
}
.post-hashtags {
  text-align: right;
  margin-top:2px;
  margin-bottom:2px;
}
.hashtag-big {
  margin:3px;
}
.modal-dialog-img {
  .max-width:90%;
}
.nb_char_restants {
  color: #aaa;
  margin-left: 5px;
}
.carte-dgidgitaliseur {
  margin-top:20px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  height:200px;
}
.carte-dgidgitaliseur-body {
}
.carte-dgidgitaliseur-id-et-nom {
  color: #000;
  text-align: right;
}
.carte-dgidgitaliseur-id {
  color: #333;
  font-weight: bolder;
  font-size: 0.9rem;
  text-align: right;
}
.carte-dgidgitaliseur-nom {
  font-weight: bolder;
  text-align: right;
}
.carte-dgidgitaliseur-description {
  text-indent : 5em;
  font-size: 0.9rem;
  margin-left: 0px;
  margin-top: -10px;
}

.alert-error {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

#users-list-conteneur {
  color: black;
}

/*
 * logo
*/
#logo-nav {
  position: relative;
  width: 120px;
}
#logo-nav-texte {
  color: rgb(255, 218, 68);
  font-weight: bolder;
  position: absolute;
  top:-10px;
  left: 30px;
}
#logo-nav-guitare{
  position: absolute;
  top:-10px;
  left: 0px;
}

.en-jaune {
  color: rgb(255, 218, 68);
}
#au-dessous-de-nav {
  margin-top:50px;
}
/*
 *
*/
#cover-conteneur {
  height: 100%;
  background-color: #333;
  font-size: 1.30rem;
  font-weight: 500;
}

#login-debut-content {
  padding-top: 30px;
  color: #fff;
}

#register-debut-content {
  padding-top: 30px;
  color: #fff;
}

.cover-body {
  text-align: center !important;
  background-color: #333;
}
.cover-container {
  height: 100%;
  color: #fff;
  background: url('/img/guillaume_cover.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 9%;
}
.cover-heading {
  font-size: 1.80rem;
  font-weight: 1000;
}


#a-propos-de-lui-conteneur {
  height: 100%;
  color: #fff;
  /*background: url('/img/a_propos_de_lui.jpg') no-repeat center center fixed*/;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 9%;
}

body {
  background-color: #333;
  box-sizing: content-box;
}
.jumbotron {
  position: relative;
  background-color: #67758E;
  color: #fff;
  min-height: 200px;
}

/*
 *
 */
.carte-dgidgitaliseur-right {
  float:right;
  font-size: 0.80rem;
}
.carte-dgidgitaliseur-hashtag {
  margin-right:4px;
}
.carte-dgidgitaliseur-youGuy {
  margin-right:4px;
}
.carte-dgidgitaliseur-date {
  color: #888;
  font-size: 0.80rem;
}
.dgidgitalisation-top-margin {
   margin-top:10px;
 }

.dgidgitaliseur {
  border-bottom-color: rgb(230, 236, 240);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-left: 58px;
  background-color: #fff;
}
.dgidgitaliseur-outer {
  position:relative;
}
/*
 *
 */
.dgidgitalisation-outer {
  color:#000;
  background-color:#fff;
  padding:3px;
  border-bottom: 5px;
}
.dgidgitalisation-inner {
  border-bottom-color: rgb(230, 236, 240);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-left: 58px;
  min-height: 80px;
}
.dgidgitalisation-contenu {
  border-top-color: rgb(230, 236, 240);
  border-top-style: solid;
  border-top-width: 1px;
  margin-top:10px;
}

.papa-avatar,.maman-avatar,.bebe-avatar {
  border-radius: 50% !important;
}
.papa-avatar-container {
  bottom:0px;
  position: absolute;
  transition: bottom .3s;
  z-index: 3;
}
.papa-avatar {
  border:5px solid white;
  bottom: -87px;
  left: 10px;
  position: absolute;
  width: 170px;
  height: 170px;
}

.maman-avatar {
  width: 85px;
  height: 85px;
  float: right;
  margin-top: -10px;
  margin-left: -8px;
  position: absolute;
}

.bebe-avatar {
  width: 48px;
  height: 48px;
  float: left;
  margin-top: 3px;
  margin-left: -58px;
  position: absolute;
}
